<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.dao.CategoryMapper">

    <resultMap id="categoryResultMap" type="com.ohgiraffers.common.DTO.CategoryDTO">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
    </resultMap>

    <select id="selectAllCategory" resultMap="categoryResultMap">
        SELECT
               A.CATEGORY_CODE
             , A.CATEGORY_NAME
             , A.REF_CATEGORY_CODE
          FROM TBL_CATEGORY A
         ORDER BY A.CATEGORY_CODE
    </select>

    <insert id="insertNewCategory" parameterType="com.ohgiraffers.common.DTO.CategoryDTO">
        INSERT INTO TBL_CATEGORY
        (
           CATEGORY_NAME
         , REF_CATEGORY_CODE
        )
        VALUES
        (
           #{ categoryName }
         , #{ refCategoryCode }
        )
    </insert>

    <update id="updateCategory" parameterType="com.ohgiraffers.common.DTO.CategoryDTO">
        UPDATE TBL_CATEGORY
        SET CATEGORY_NAME = #{ categoryName }
        , REF_CATEGORY_CODE = #{ refCategoryCode }
        WHERE CATEGORY_CODE = #{ categoryCode }
    </update>

    <delete id="deleteCategory" parameterType="com.ohgiraffers.common.DTO.CategoryDTO">
        DELETE
        FROM TBL_CATEGORY
        WHERE CATEGORY_CODE = #{ categoryCode }
    </delete>

</mapper>
